# === Application ===
NODE_ENV="development"
APP_NAME="CoreList API"

# === URLs (Para Redirecionamentos e Links de E-mail) ===
# Use prefixos que indiquem a função (API vs WEB)
API_URL="http://localhost:3333"
WEB_URL="http://localhost:3000"

# === Server Configuration ===
# Variáveis que o Fastify/Node usa para subir o serviço
PORT=3333
HOST="0.0.0.0"

# === Database ===
# Centralizando as credenciais
DATABASE_URL=

# === Auth & Security ===
JWT_SECRET=
JWT_EXPIRES_IN="1d"